In [ ]:
print("Akinyemi is my Hubby")

In [ ]:
if (5 > 2):
    print('5 is greater than 2')
else:
    print('it is less')

In [ ]:
a,b,c = (5,7,8)
print(a)
print(b)
print(c)

In [ ]:
y = 'Awesome'
print('My husband is ' + y)

In [ ]:
x = 'my husband'
y = 'great'
print ('my husband' +  y)

In [ ]:
x,a,c = (4,5.0,4j)
print(type(x))
print(type(a))
print(type(c))

In [ ]:
x,b,c, = (2,2.9,3)
a = float(x)
d = complex(b)
e = int(c)
print(a,d,e)

In [ ]:
import random
a = random.randrange(1,10)
print(a)

In [ ]:
txt = 'akinyemi'
print (txt.upper())

In [ ]:
txt = 'Akinyemi,is,my,hubby'
a = (txt.split(','))
print(a)

In [ ]:
txt = 'AKINYEMI'
a = (txt.lower())
print(a)

In [ ]:
txt = 'AKINYEMI'
a = (txt.replace('A','B'))
print(a)

In [ ]:
txt = "The rain in Spain stays mainly in the plain "
#a = ('in' in txt)
a = txt.count('in ')
print(a)

In [ ]:
age = 20
dob = 1990
myage = "I was born in  {} and my age is {}."
a = myage.format(dob,age)
print(a)

In [ ]:
a = [4,8,9,12,16]
for x in range(len(a)):
    print(x)

In [ ]:
a = [4,8,9,12,16]
for x in range(len(a)-3):
    print(a[x])

In [ ]:
a = [4,8,9,12,16]

for x in range(len(a)):
    if x == 2:
        
        print(a[x])

In [ ]:
a = [4,8,9,12,16]
b = [5,18,19,21,61]
for x in a:
    for y in b:
        print(x,y)

In [ ]:
def my_function(*kids):
    
    return kids
my_function('Lara','iyanu')

In [ ]:
fruits = [["apple", "banana", "cherry"],["apple1", "banana1", "cherry1"]]
listq = ["appley", "bananya", "cherryyyy",'papaya']
d=0
nat = []
for x in fruits:
    #d+=1
    y = x[2]
    nat.append(y) 
print(nat) 
    #print(listq[d-1])

In [ ]:
fruits = ["apple", "banana", "cherry"]
listq = ["appley", "bananya", "cherryyyy",'papaya']

d=[]
for x in range(max(len(listq),len(fruits))):
    d+=1
    if x < 3:
        print(listq[x])    
        print(fruits[x]) 
    elif x == 3:
        print(listq[x])    
        print('no fruits')

In [ ]:
def tinuke():
    
    fruits = ["apple", "banana", "cherry"]
    listq = ["appley", "bananya", "cherryyyy",'papaya']

    d =[]
    s = []
    for x in range(max(len(listq),len(fruits))):

        if x < 3:
            d.append(listq[x])   
            s.append(fruits[x])
        elif x == 3:
            d.append(listq[x]) 
            s.append('no fruits')
            
    return d,s
tinuke()

In [ ]:
#fruits = ["apple", "banana", "cherry"]
#listq = ["appley", "bananya", "cherryyyy",'papaya']
def tinukes(listq1,fruits1):
    
   

    d =[]
    s = []
    for x in range(max(len(listq1),len(fruits1))):

        if x < 3:
            d.append(listq1[x])   
            s.append(fruits1[x])
        elif x == 3:
            d.append(listq[x]) 
            s.append('no fruits')
            
    return d,s

In [ ]:
tinukes(listq,fruits)

In [ ]:
def tinukes(listq1,fruits1=fruits):
    
   

    d =[]
    s = []
    for x in range(max(len(listq1),len(fruits1))):

        if x < 3:
            d.append(listq1[x])   
            s.append(fruits1[x])
        elif x == 3:
            d.append(listq[x]) 
            s.append('no fruits')
            
    return d,s

In [ ]:
tinukes(listq,listq)

In [ ]:
myfamilyr = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x in myfamily:
    for y in myfamily[x]:
        if y == 'year':
            print(myfamily[x][y])

In [ ]:
def my_func(myfamily):
    nat = []
    for x in myfamily:
        for y in myfamily[x].values():
            
            if type(y) == int :
                nat.append(y)
                
    return nat

In [ ]:
my_func(myfamilyr)

In [ ]:
date_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]
def my_func(date):
    copied_date = []
    for x in date_data:
        
        copied_date.append(x)
    return copied_date

In [ ]:
my_func(date_data)

In [ ]:
def cleaning(date):
    nat = []
    for x in date_data:
        a = x
        a = a.replace("(","")
        a = a.replace(")","")
        nat.append(a)
    return nat

In [ ]:
char = ["(",")","c.","C.","s","'","."," "]
def clean(date):
    data = []
    for x in date_data:
        a = x
       
        for y in char:
            a = a.replace(y,"")
        #a = a.split("-")
        data.append(a)
    return data

In [ ]:
def charcleans(dat):
    for y in char:
        dat = dat.replace(y,"")
    return dat


def cleansing(date):
    mamo = []
    for x in date_data:
        a = x
        b = charcleans(a)
        mamo.append(b)
    return mamo

In [ ]:
def charcleans(dat):
    for y in char:
        dat = dat.replace(y,"")
    return dat


def cleansing(date):
    #mamo = []
    for x in date_data:
        a = x
        b = charcleans(a)
        #mamo.append(b)
        pd.Series(b)
    return b
cleansing(date_data)

In [ ]:
a = clean(date_data)
b = pd.Series(a)
b

In [ ]:
cleansing(date_data)

In [ ]:
charcleans('(1951)')

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Restaurant.csv')
df.head()

In [ ]:
df['Gender'].astype('category')

In [ ]:
df.info()

In [ ]:
df.columns =[column_name.replace(' ','_') for column_name in df.columns]
#df.columns =[column_name.upper() for column_name in df.columns]
#df.columns =[column_name.title() for column_name in df.columns]
df.columns

In [ ]:
a = df['First_Name']

In [ ]:
mask = df['Last Name'] == 'Perkins'
df[mask]
company = df['Company']
df['Company'][765:]

In [ ]:
for x in range(len(df)):
    actor=df['First Name'][x]
    buget=df['Last Name'][x]
    if actor== 'Joseph' and buget=='Perkins':
        print('i love yemi')

In [ ]:
for x in df:
    if x=='First Name':
        actor=df[x]
        buget=df[x]
        print(x)

In [ ]:
selection = df['Last Name']
print(selection)

In [ ]:
def clean(Name):
    nat = []
    for x in selection:
        if x == 'Morrison':
            nat.append(x)
    return len(nat)

In [ ]:
clean(selection)

In [ ]:
prices = [2.66,78.0,34.8]
d = pd.Series(prices)
d
import shutil, os
files = ['foods.csv', 'nba.csv']
dest_folder = "C:/drop"
for f in files:
    shutil.move(f, 'dest_folder')

In [ ]:
import shutil
f = open("C:\\Users\\Atinuke Akinsanya\\Desktop\\Data Science\\Sample\\foods.csv")
print(f.read())

In [ ]:
 import os,shutil

current_path = r"C:\Users\Atinuke Akinsanya\Desktop\Data Science\Sample" ## source path

new_path = r"C:\drop" ## destination path

os.chdir(current_path)

for files in os.listdir():
    
    os.rename(files, new_path)
    shutil.move(files, new_path)

In [13]:
import os, shutil
path = r'C:\Users\Atinuke Akinsanya\Desktop\Data Science\Sample'
moveto = r"C:\drop"
os.chdir(path)
for i in os.listdir():
    #os.rename(i, moveto)
    shutil.move(i,moveto)